<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./assets/kazoo.png">
    <title>KazooGuesser</title>
  </head>
  <body
    class="container-fluid"
    style="padding-top: 10px; padding-left: 40px; padding-right: 40px"
  >
    <div class="header container-fluid" id="game-header">
      <h1 style="vertical-align: bottom">kazuub.io</h1>
    </div>
    <div class="page container-fluid">
      <div class="game-section container-fluid col-4" id="players">
        <div class="game-section-header">
          <h2>players</h2>
        </div>
        <li id="playerList" style="list-style-type: none;"></li>
      </div>
      <div class="game-section container-fluid col-4" id="music">
        <div class="game-section-header">
          <h2>music</h2>
        </div>
        <!-- <img
          src="https://e7.pngegg.com/pngimages/439/430/png-clipart-musical-note-eighth-note-miscellaneous-music-symbols.png"
          alt=""
          width="400px"
          height="400px"
        /> -->
        <div 
            width="400px"
            height="400px"
            id="audio-visualizer">
        </div>
        <input type="button" value="PAUSE" onclick="stopSong()" />
      </div>
      <div class="game-section container-fluid col-4" id="chat">
        <div class="game-section-header">
          <h2>chat</h2>
        </div>
        <ul id="messages" style="list-style-type: none;"></ul>
        <form class="text-entry" id="sendChat">
          <input id="messageInput" placeholder="enter your guess here" autocomplete="off"/>
          <button>Send</button>
        </form>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script defer src=https://cdn.JsDelivr.net/npm/p5></script>
  <script defer src=https://cdn.JsDelivr.net/npm/p5/lib/addons/p5.dom.min.js></script>
  <script defer src=https://cdn.JsDelivr.net/npm/p5/lib/addons/p5.sound.min.js></script>
  <script src="../js/sketch.js"></script>
  <script>

    // Page state
    var userInfos = [];
    var roomId = '<%=roomId%>';
    var username = '<%=username%>';
    var userId = '<%=userId%>';
    var userInfo = {
      username: username,
      userId: userId,
    };

    // Socket setup
    const socket = io();

    socket.on('receive', (data) => {
      console.log(data);
      const chatText = `<b>${data.userInfo.username}</b>: ${data.message}`;
      $("#messages").append($("<li>").html(chatText));
    });

    const setupSockets = () => {
      socket.emit('joinRoom', {
        userInfo: userInfo,
        roomId: roomId,
      });
      const refreshPlayers = (data) => {
        console.log('refreshPlayers');
        userInfos = data;
        console.log('userInfos: ' + userInfos);
        renderPlayerCards();
      }
      socket.on('userJoined', refreshPlayers);
      socket.on('userLeft', refreshPlayers);
    };

    $('form#sendChat').submit((e) => {
      console.log('chat submitted');
      e.preventDefault(); // Prevents page reloading
      const message = $('#messageInput').val();
      if (!message) { return; }
      
      // Send message to room
      socket.emit('send', {
        userInfo: userInfo,
        roomId: roomId,
        message: message,
      });

      console.log({
        userInfo: userInfo,
        roomId: roomId,
        message: message,
      });

      $('#messageInput').val('');
    });

    function sortByScore(a, b) {
      if (a.score > b.score) {
        return -1;
      } else if (b.score > a.score) {
        return 1;
      } else {
        return 0;
      }
    }

    function renderPlayerCards() {
      $('#playerList').empty();
      userInfos.sort(sortByScore);
      userInfos.forEach(userInfo => {
        var playerCard = document.createElement("div");
        playerCard.className = "player-card";

        var playerAvatar = document.createElement("img");
        playerAvatar.id = "player-avatar";
        playerAvatar.src = "https://icon-library.com/images/male-avatar-icon/male-avatar-icon-14.jpg";

        var playerName = document.createElement("h3");
        playerName.innerHTML = userInfo.username;
        playerName.id = "player-name";

        var playerScore = document.createElement("h3");
        playerScore.innerHTML = userInfo.score;
        playerScore.id = "player-score";

        playerCard.appendChild(playerAvatar);
        playerCard.appendChild(playerName);
        playerCard.appendChild(playerScore);
        playerList.appendChild(playerCard);
      });
    };

    // function playSong() {
    //   var song = document.getElementById("song");
    //   song.play();
    // }

    function playSong() {
        $.getScript("../js/sketch.js",function(){
            playMusic('https://cdns-preview-7.dzcdn.net/stream/c-74f0f93e5e420487c4e322c12057dad9-3.mp3');
        });
    }

    function stopSong() {
        $.getScript("../js/sketch.js",function(){
            stopMusic();
        });
    }

    $('document').ready(() => {
        setupSockets();
        playSong();
    });

  </script>
</html>
