<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css">
        <title>KazooGuesser</title>
    </head>
    <body class="container-fluid" style="padding-top: 10px; padding-left: 40px; padding-right: 40px;">
        <div class="header container-fluid" id="game-header">
            <h1 style="vertical-align: bottom;">kazuub.io</h1>
        </div>
        <div class="page container-fluid">
            <div class="game-section container-fluid col-2" id="players">
                <div class="game-section-header">
                    <h2>players</h2>
                </div>
            </div>
            <div class="game-section container-fluid col-6" id="music">
                <div class="game-section-header">
                    <h2>music</h2>
                </div>
                <img src="https://e7.pngegg.com/pngimages/439/430/png-clipart-musical-note-eighth-note-miscellaneous-music-symbols.png" alt="" width="400px" height="400px"/>
                <input type="button" value="PLAY" onclick="play()">
            </div>
            <div class="game-section container-fluid col-4" id="chat">
                <div class="game-section-header">
                    <h2>chat</h2>
                </div>
            </div>
        </div>
    </body>
    <script>
        function play() {
        var audio = document.getElementById("audio");
        audio.play();
        }
    </script>

    
    <audio id="audio" src="https://cdns-preview-d.dzcdn.net/stream/c-deda7fa9316d9e9e880d2c6207e92260-8.mp3"></audio>
    </html>