<!DOCTYPE html>
<html>
<head>
  <title>Kazuub.io | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="./assets/kazoo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

  </style>
  <script></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  
  <!-- MAIN PAGE -->
  <div class="container">

    <!-- TITLE -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron" id="title">
          <h1 class="display-3">KAZUUB.IO</h1>
          <p class="lead">a music guessing game</p>
          <hr class="my-2">
          <p>PENNAPPS XXI</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Button Name</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <!-- USER INFO HERE -->
        <div class="form-group">
          <input type="text" class="form-control" id="displayName" placeholder="Display name">
          <small id="emailHelp" class="form-text text-muted">Between 3 and 20 characters</small>
          <div id="errorBadUsername" style="margin-top: 15px; margin-bottom: 15px;">
            <!-- ERROR BAD USERNAME -->
          </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-12">
            <button class="btn btn-primary btn-block" id="createRoom">Create Room</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary btn-block" id="joinRoom">Join Room</button>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Room code">
            <!-- <div id="errorNoRoomId" style="margin-top: 15px; margin-bottom: 15px;"> -->
              <!-- ERROR NO ROOM ID -->
            <!-- </div> -->
            <strong id="errorNoRoomId" style="margin-right: 15px; color: red;">
              <!-- ERROR SIGNING IN MESSAGE -->
            </strong>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- ABOUT SECTION HERE -->
      </div>
    </div>

  </div>
  
</body>

<script>


</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  
  var username = '<%=username%>';
  var errorBadUsername = '<%=errorBadUsername%>';
  var errorNoRoomId = '<%=errorNoRoomId%>';
  var userId = '<%=userId%>';

  var socket = io()

  // Socket
  socket.on('roomCreated', (roomId) => {
    console.log('room Created: ' + roomId);
    const fakeForm = `
      <form hidden id="fakeForm" action="/postCreateRoom" method="post">
        <input name="username" value="${username}"></input>
        <input name="userId" value="${userId}"></input>
        <input name="roomId" value="${roomId}"></input>
      </form>
    `;

    $('body').append(fakeForm);
    $('#fakeForm').submit();
  });

  // CREATE ROOM
  $('button#createRoom').click(() => {
    const username = $('input#displayName').val();
    console.log('createRoom');
    $.ajax({
      traditional: true,
      url: "/postUserInfo",
      type: 'POST',
      data: { username: username },
      success: (data, textStatus, jqXHR) => {
        if (textStatus == 'success') {
          userId = data.userId;
          console.log('success: ' + userId);
          socket.emit('createRoom', {
            username: username,
            userId: userId,
          });
        } else {
          const MIN_USERNAME_LENGTH = 3;
          const MAX_USERNAME_LENGTH = 20;
          const ERROR_BAD_USERNAME = 
              `Username must be between ${MIN_USERNAME_LENGTH} and `
            + `${MAX_USERNAME_LENGTH} characters long!`;
          displayErrorMessages();
        }
      }
    });
  });

  // JOIN ROOM
  $('button#joinRoom').click(() => {
    const username = $('input#displayName').val();
    console.log('join room clicked');
    $.ajax({
        traditional: true,
        url: "/postUserInfo",
        type: 'POST',
        data: {
        username: username
      },
      success: function (data, textStatus, jqXHR) {
        console.log("Posted new chat")
        socket.emit("joinRoom")
      }
    });
  });

  const postUserInfoFromInput = () => {
    const username = $('input#displayName').val();
    $.post(
      '/postUserInfo',
      { username: username },
      () => { console.log('User info saved!'); }
    );
  }

  // Maybe remove this -R
  const displayWelcome = () => {
    if (username) {
      $('#title').prepend(`<h1 class="display-3">Welcome ${username}!</h1>`);
    } else {
      $('#title').prepend(`<h1 class="display-3">Welcome!</h1>`);
    }
  };

  // PRE-FILL USERNAME FIELD FROM SESSION
  const populateUsernameField = () => {
    $('input#displayName').val(username);
  };

  // DISPLAY ERRORS
  const displayErrorMessages = () => {
    if (errorBadUsername) { 
      $('#errorBadUsername').html(`
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <!-- strong>Error signing in: </strong --><span>${errorSigningUp}</span>
        </div>
      `);
    }

    if (errorNoRoomId) {
      $('#errorNoRoomId').html(errorNoRoomId);
    }
  };

  $(document).ready(() => {
    displayWelcome();
    populateUsernameField();
    displayErrorMessages();
  });

  $(function(){
    
  })

  $(function(){
    socket.on('invalid_game_id',function(game_id){
      window.location = "/blah/" // TODO: Fix
    });
  })  

</script>
</html>