<!DOCTYPE html>
<html>
<head>
  <title>Kazuub.io | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="./assets/kazoo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <style>
    
    .mr-auto {
      margin-right: 0 !important;
    }
    
    .card {
      padding-left: 5px;
      padding-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .panel {
      border-color: grey;
      border-width: 1px;
      text-align: center;
    }

    .post-card {
      text-align: left;
    }
    
  </style>
  <script></script>
</head>
<body>
  
  
  
</body>
</html>