<!DOCTYPE html>
<html>
<head>
  <title>Kazuub.io | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="./assets/kazoo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    
    /* .mr-auto {
      margin-right: 0 !important;
    }
    
    .card {
      padding-left: 5px;
      padding-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .panel {
      border-color: grey;
      border-width: 1px;
      text-align: center;
    }

    .post-card {
      text-align: left;
    } */
    
  </style>
  <script></script>
</head>
<body>
  
  <!-- MAIN PAGE -->
  <div class="container">

    <!-- TITLE -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <%if (username) { %>
          <h1 class="display-3">Welcome <%=username%>!</h1>
          <% } %>
          <h1 class="display-3">KAZUUB.IO</h1>
          <p class="lead">a music guessing game</p>
          <hr class="my-2">
          <p>PENNAPPS XXI</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Button Name</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <!-- USER INFO HERE -->
        <input type="text" id="username" placeholder="Display name"/>
        <button id="submitInfo">Send!</button>
      </div>
      <div class="col-8">
        <!-- ABOUT SECTION HERE -->
      </div>
    </div>

  </div>
  
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  
  $('button#submitInfo').click(() => {
    const username = $('input#username').val();
    console.log(username);
    
    $.ajax({
      traditional: true,
      url: "/postUsername",
      type: 'POST',
      data: {
        username: username
      },
      success: function (data, textStatus, jqXHR){
        console.log("Posted new chat")
      }
    });

  });
  
  // $('input#username_input').submit((msg) => {
  //   // msg.preventDefault();
  //   // $(this)
  //   console.log('submitted form');
  //   // if (cont.content) {
  //   //   socket.emit("send message", JSON.stringify(cont), function () {
  //   //     $("form#chat #msg_text").val("");
  //   //   });
  //   //   $.ajax({
  //   //     traditional: true,
  //   //     url: '/postMessage',
  //   //     type: 'POST',
  //   //     data: {
  //   //       chatId: thisChat,
  //   //       sender: user,
  //   //       content: $(this).find("#msg_text").val()
  //   //     },
  //   //     success: function (data, textStatus, jqXHR) {
  //   //       console.log("Posted new chat: ", jqXHR.status);
  //   //     }
  //   //   });
  //   // }
  // });
</script>
</html>