<!DOCTYPE html>
<html>
<head>
  <title>Kazuub.io | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="./assets/kazoo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css" />
  <style></style>
  <script></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  
  <!-- MAIN PAGE -->
  <div class="container">

    <!-- TITLE -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron lobby-background" id="title">
          <h1 class="display-3">KAZUUB.IO</h1>
          <p class="lead">a music guessing game</p>
          <hr class="my-2">
          <p>PENNAPPS XXI</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <!-- USER INFO HERE -->
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Display Name</label> -->
          <input type="text" class="form-control" id="displayName" placeholder="Display name">
          <small id="emailHelp" class="form-text text-muted">Between 3 and 20 characters</small>
        </div>
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-12">
            <button class="btn btn-primary btn-block" id="createRoom">Create Room</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary btn-block" id="joinRoom">Join Room</button>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Room code">
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- ABOUT SECTION HERE -->
      </div>
    </div>

  </div>
  
</body>

<script>


</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  var socket = io()
  const MIN_NAME_LENGTH = 3;
  const MAX_NAME_LENGTH = 20;
  const ERROR_BAD_LENGTH = `Username must be between ${MIN_NAME_LENGTH} and `
                         + `${MAX_NAME_LENGTH} characters long.`;

  const username = '<%=username%>';

  // USERNAME INFO
  $('button#createRoom').click(() => {

    const username = $('input#displayName').val();
    if (!username || 
        username.length < MIN_NAME_LENGTH || 
        username.length > MAX_NAME_LENGTH) {
      console.log(ERROR_BAD_LENGTH);
    }

    console.log('create room clicked');

    $.ajax({
      traditional: true,
      url: "/postUserInfo",
      type: 'POST',
      data: {
        username: username
      },
      success: function (data, textStatus, jqXHR) {
        console.log("Posted new chat")
        socket.emit("createRoom")
      }
    });
  });

  $('button#joinRoom').click(() => {
    const username = $('input#displayName').val();
    if (!username || 
        username.length < MIN_NAME_LENGTH || 
        username.length > MAX_NAME_LENGTH) {
      console.log(ERROR_BAD_LENGTH);
    }
    console.log('join room clicked');
    $.ajax({
        traditional: true,
        url: "/postUserInfo",
        type: 'POST',
        data: {
        username: username
      },
      success: function (data, textStatus, jqXHR) {
        console.log("Posted new chat")
        socket.emit("joinRoom")
      }
    });
  });

  const displayWelcome = () => {
    if (username) {
      $('#title').prepend(`<h1 class="display-3">Welcome ${username}!</h1>`);
    } else {
      $('#title').prepend(`<h1 class="display-3">Welcome!</h1>`);
    }
  };

  $(document).ready(() => {
    displayWelcome();
  });

  $(function(){
    socket.on('game_id',function(game_id){
      window.location = "/lobby/" // TODO: Go to specific
    });
  })

  $(function(){
    socket.on('invalid_game_id',function(game_id){
      window.location = "/blah/" // TODO: Fix
    });
  })  

</script>
</html>