<!DOCTYPE html>
<html>
<head>
  <title>Kazuub.io | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="./assets/kazoo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
  
  <!-- MAIN PAGE -->
  <div class="container">

    <!-- TITLE -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron lobby-background">
          <h1 class="display-3">KAZUUB.IO LOBBY</h1>
          <p class="lead">a music guessing game</p>
          <hr class="my-2">
          <p>PENNAPPS XXI</p>
          <p class="lead">
            <button class="btn btn-lg" id="start-game">Start Game</button>
            <!-- <a class="btn btn-primary btn-lg" role="button" id="start-game">Start Game</a> -->
          </p>
        </div>
        <ul id="players" style="list-style-type: none;"></ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- GAME SETTINGS HERE -->
      </div>
      <div class="col-md-6">
        <!-- USERS IN LOBBY -->
      </div>
    </div>

  </div>
  
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  
  var userInfos = [];
  var username = '<%=username%>';
  var userId = '<%=userId%>';
  var roomId = '<%=roomId%>';
  var userInfo = {
    username: username,
    userId: userId,
  };

  const socket = io();
  const setupSockets = () => {
    console.log('setup sockets');
    socket.emit('joinRoom', {
      userInfo: userInfo,
      roomId: roomId,
    });

    const refreshPlayers = (data) => {
      console.log('refreshPlayers');
      userInfos = data;
      console.log('userInfos: ' + userInfos);
      renderPlayerCards();
    }

    socket.on('userJoined', refreshPlayers);
    socket.on('userLeft', refreshPlayers);
    socket.on('gameStarted', function(game_id) {
      startGame(username, userId, roomId);
    });
  }

  const startGame = (username, userId, roomId) => {
    const fakeForm = `
      <form hidden id="fakeForm" action="/postStartGame" method="post">
        <input name="username" value="${username}"></input>
        <input name="userId" value="${userId}"></input>
        <input name="roomId" value="${roomId}"></input>
      </form>
    `;
    $('body').append(fakeForm);
    $('#fakeForm').submit();
  };

  $('#start-game').click(() => {
    socket.emit('startGame', { roomId: roomId });
  });

  function renderPlayerCards() {
    $("#players").empty();
    userInfos.forEach((userInfo) => {
      var playerCard = document.createElement("div");
      playerCard.className = "player-card";

      var playerAvatar = document.createElement("img");
      playerAvatar.id = "player-avatar";
      playerAvatar.src = "https://icon-library.com/images/male-avatar-icon/male-avatar-icon-14.jpg";

      var playerName = document.createElement("h3");
      playerName.innerHTML = userInfo.username;
      playerName.id = "player-name";
      playerCard.append(playerAvatar);
      playerCard.append(playerName);
      $("#players").append(playerCard);
    });
  }
  
  $('document').ready(() => {
    console.log('roomId: ' + roomId);
    setupSockets();
    renderPlayerCards();
  });

</script>
</html>