@font-face {
    font-family: 'ti84';
    src: url('./fonts/ti84.woff2') format('woff2'),
      url('./fonts/ti84.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
} */

.header {
  height: 100px;
  /* width: 100vw; */
  background-color: rgb(100, 100, 253);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 20px; */
}

.game-section {
  /* min-width: 200px; */
  min-height: 50vh;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(100, 100, 253);
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
}

.game-section-header {
  padding: 10px;
  background-color: rgb(100, 100, 253);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-entry {
  width: 100%;
  position: absolute;
  margin: 10px;
  bottom: 0;
}

.player-card {
  min-height: 50px;
  padding: 5px;
  border-radius: 50px;
  border: 3px solid rgb(100, 100, 253);
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* align-items: left; */
  color: black;
}

#player-avatar {
  alt: "";
  width: 80px;
  height: 80px;
}

#player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#player-score {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
}